.create-blog-container {
  .title {
    font-size: 24px;
    font-weight: 700;
  }
  .btn-container {
    width: 200px;
    margin-left: auto;
  }
  .alert-sukses {
    background-color: rgb(77, 182, 77);
    padding: 10px;
    width: 50%;
  }
}
