.content-wrapper {
  padding: 20px;
}
.create-wrapper {
  width: 200px;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 20px;
}

.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.text-page {
  width: 200px;
  font-weight: 800;
  font-size: 20px;
}
