.footer-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: rgb(107, 180, 34);
  padding: 30px 40px;

  .logo-app {
    color: white;
    font-size: 26px;
    font-weight: 900;
  }
}
.copyright-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: rgb(75, 133, 18);
  p {
    text-align: center;
    margin: 0;
    color: white;
  }
}
